*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container-gallery {
    width: 90%;
    padding-top: 150px;
    padding-bottom: 200px;
    margin: auto;
}

.gallery-wrap {
    justify-content: space;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 30px;
}

.gallery-wrap img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}